*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.7em;
    text-align: center;
}

#main {
    width: 50%;
    margin: 3em auto;
    padding-top: 4em;
    padding-bottom: 2em;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: transparent;
}

#main form > div {
  width: 20em;
  max-width: 90%;
  margin: 0 auto 0.9em auto;
}

#main > div {
    margin: 0em 2em 0.65em 2em;
    font-size: 1.5em;
}

#main input {
  width: 100%;
  padding: 0.3em;
}

button {
    display: block;
    margin: 0.8em auto 0.5em;
    width: 7em;
    padding: 0.8em 1em;
    font-size: 0.8em;
    cursor: pointer;
    border: solid rgb(77, 77, 77) 1px;
    border-radius: 5px;
}

#signupButton {
    width: 14em;
    background-color: #008CBA;
}

#loginButton {
    width: 7em;
    background-color: #4CAF50;
}

p{
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

a{
    font-size: 1em;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: purple;
}

#main .errorlist {
    margin: 0.25em 0 0;
    padding: 0;
    list-style: none;
    color: red;
    font-size: 0.8em;
    font-style: italic;
    overflow-wrap: anywhere;
}

#main .errorlist li {
    margin-top: 0.2em;
    font-size: 1em;
    font-style: italic;
}